#outlet-container-desktop {
  background-color: #AA3130;
  border-radius: 5px;
  padding-top: 20px;
}

#outlet-container-desktop-outlets {
  height:88vh;
  overflow: scroll;
  padding:10px;
  padding-left:20px;
  padding-right: 20px;
}
