<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid page">
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href='#' class="navbar-brand"><strong>tl;dr</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/outlets" routerLinkActive="active">Outlets</a></li>
        <li>
          <a routerLink="/keywords" routerLinkActive="active">Keywords</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink='summarize' routerLinkActive="active">Summarize</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<footer></footer>-->
