<div class="container-fluid page">
  <div class="col-md-12">
    <div class='page-header'>
      <h1>Lastest News <small>View all the latest world events</small></h1>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div class="row">
          <div class='article-feed-area'>
            <a *ngFor="let article of articles" [routerLink]="['/article', article._id]" class="mini-article">
              <div class='col-xs-12 col-md-6 col-lg-4'>
                <mini-article [article]="article"></mini-article>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div *ngIf="showBack==true">
              <button class="btn btn-primary btn-lg" (click)="back()">Prev</button>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="pull-right">
              <button class="btn btn-primary btn-lg" (click)="next()">Next</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="article-top-area">
          <div class="container">

            <h2>Most Read</h2>
            <ol>
              <li *ngFor="let article of topArticles" class="most-read-list">

                <a [routerLink]="['/article', article._id]" style="color:white;text-decoration:underline">
                  {{article.title}}
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="article-top-area">
          <div class="container">

            <h2>Most Tweeted</h2>
            <ol>
              <li *ngFor="let article of topArticles" class="most-read-list">

                <a [routerLink]="['/article', article._id]" style="color:white;text-decoration:underline">
                  {{article.title}}
                </a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
