<div class="mini-article">
  <div class="container-fluid">
    <div class="row">
      <div class="crop-height" >
        <img src="app/resources/img/placeholder.png" class="article-image" />
      </div>
      <div class="col-xs-12" >
        <h4 class="mifni-article-title">{{article.title}}</h4>
        <h5>{{article.source}}</h5>
        <div class="pull-right" style="text-align:right">
          <h5>{{article.date}}</h5>
        </div>

      </div>
    </div>
    <div class="row content-area">

      <div class="col-xs-12">
        {{article.content}}
      </div>
    </div>
  </div>
</div>
