<div class="container-fluid page">
  <div class="col-md-12">
    <div class='page-header'>
      <h1>Outlets <small>Browse summaries by news outlet</small></h1>

    </div>
    <div class='outlet-feed-area'>
      <div class="hidden-xs">
        <div class="row">
          <div class="col-sm-4 col-md-3" id="outlet-container-desktop">
            <div class="form-group">
              <input type="text" (keyup)="searchOutlets()" [(ngModel)]="searchTerm" name="searchBox" class="form-control" placeholder="Search Outlets" />
            </div>
            <div class="row">
              <mini-outlet *ngFor="let outlet of outlets" [outlet]="outlet" (click)="selectOutlet(outlet)"></mini-outlet>
            </div>
          </div>

          <div class="col-sm-8 col-md-9">
            <div class="vertical_line"></div>
            <div >
              <outlet-window [(outlet)]="selectedOutlet"></outlet-window>
            </div>
          </div>

        </div>
      </div>
      <div class="visible-xs">
        <div class="row">
          <div class="form-group">
            <input type="text" (keyup)="searchOutlets()" [(ngModel)]="searchTerm" name="searchBox" class="form-control" placeholder="Search Outlets" />
          </div>
          <div *ngFor="let outlet of outlets" class="col-xs-6" id="outlet-container">
            <a [routerLink]="['/outlet', outlet.name]">
                <mini-outlet [outlet]="outlet"></mini-outlet>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
