<div class='container-fluid page'>
  <div class='page-header'>
    <h1>Summarize Text <small>Enter your own news to summarize...</small></h1>
  </div>


  <div class='row'>
    <div class='col-md-6 col-sm-12'>
      <div>
        <form>
          <div class="form-group">
            <label for="text-input-area">Text to Summarize</label>
            <textarea class="form-control" name="input-area" [(ngModel)]="content" rows="36"></textarea>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary" (click)="clear()" >Clear</button>
            </div>
            <div class="col-xs-6">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary" (click)="summarize()" >Summarize!</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" >
      <form>
        <div class="form-group">
          <label for="text-input-area">Summarized Text</label>
          <textarea class="form-control" rows="24" name="summary-area" [(ngModel)]="summary.content" readonly></textarea>
        </div>

      </form>

      <div class="row">
        <h4><span class="small">Compression:</span> <span *ngIf="summary.reduction">{{summary.reduction}}%</span></h4>
        <h4><span class="small">Keywords:</span></h4>
        <div class="row">
          <ol>
            <li *ngFor="let keyword of summary.keywords" class="col-xs-6">
            {{keyword}}
            </li>
          </ol>
        </div>
        <div *ngFor="let sentiment of summary.sentiment">
          {{sentiment.word}} : {{sentiment.sentiment}}
        </div>
      </div>

    </div>
  </div>

</div>
<div *ngIf='isLoading' class="loading-container">
  <div class="loading" >
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
</div>
