<div class='container-fluid page'>
  <div class='page-header'>
    <h1>Summarize Text <small>Enter your own news to summarize...</small></h1>
  </div>
  <div class='row'>
    <div class='col-md-6 col-sm-12'>
      <div>
        <form>
          <div class="form-group">
            <label for="text-input-area">Text to Summarize</label>
            <textarea class="form-control" name="input-area" [(ngModel)]="content" rows="36"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" (click)="summarize()" >Summarize!</button>

        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12" >
      <form>
        <div class="form-group">
          <label for="text-input-area">Summarized Text</label>
          <textarea class="form-control" rows="24" name="summary-area" [(ngModel)]="summary.content" disabled></textarea>
        </div>

      </form>

      <div class="row">
        <h1>Compression: </h1> <p>{{summary.reduction}}</p>
        {{summary.keywords}}
        <div *ngFor="let sentiment of summary.sentiment">
          {{sentiment.word}} : {{sentiment.sentiment}}
        </div>
      </div>

    </div>
  </div>
</div>
